<div class="jumbotron">
  <h1 class="text-center">Discover what engineers from top companies are coding right now;</h1>
</div>
<section id="web-dev">
  <div class="container">
    <h2>Web Development</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="http://nerds.airbnb.com/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/airbnb.jpg", alt: "Airbnb") %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://blog.twitch.tv/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/twitch.png", alt: "Twitch") %>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="videogames">
  <div class="container">
    <h2>Videogames</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="http://nerds.airbnb.com/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/airbnb.jpg", alt: "Airbnb") %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://blog.twitch.tv/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/twitch.png", alt: "Twitch") %>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="ai">
  <div class="container">
    <h2>Artificial Intelligence</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="http://nerds.airbnb.com/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/airbnb.jpg", alt: "Airbnb") %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://blog.twitch.tv/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/twitch.png", alt: "Twitch") %>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="vr">
  <div class="container">
    <h2>Virtual Reality</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="http://nerds.airbnb.com/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/airbnb.jpg", alt: "Airbnb") %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://blog.twitch.tv/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/twitch.png", alt: "Twitch") %>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="data">
  <div class="container">
    <h2>Data Science</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="http://nerds.airbnb.com/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/airbnb.jpg", alt: "Airbnb") %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://blog.twitch.tv/" class="thumbnail" target="_blank">
          <%= image_tag("welcome/twitch.png", alt: "Twitch") %>
        </a>
      </div>
    </div>
  </div>
</section>